@import '../node_modules/normalize.css/normalize.css';

@font-face {
  font-family: 'MyFont';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/regular.woff') format('woff');
}

@font-face {
  font-family: 'MyFont';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/bold.woff') format('woff');
}

@font-face {
  font-family: 'MyFont';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/italic.woff') format('woff');
}

@font-face {
  font-family: 'MyFont';
  font-style: italic;
  font-weight: 800;
  src: url('./assets/fonts/bolditalic.woff') format('woff');
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'MyFont', 'Courier New', Courier, monospace;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

/***********
 * VERTICAL *
 ***********/
@media
  screen and (max-width: 767px),
  screen and (max-height: 599px)
{
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  main {
    padding: 0 1.5em 1.5em 1.5em;
  }

  #canvas-container {
    order: -1;
    width: 100%;
    min-height: 50%;
  }

  @media (orientation:portrait) {
    /* portrait-specific styles */
  }

  @media (orientation:landscape) {
    #canvas-container {
      min-height: 80%;
    }
  }

  canvas {
    position: absolute;
  }
}

/**************
 * HORIZONTAL *
 **************/
@media screen and (min-width: 768px) and (min-height: 600px) {
  body {
    display: flex;
    align-items: center;
  }

  main {
    box-sizing: border-box;
    width: 50%;
    padding: 1.5em;
    text-align: right;
  }

  #canvas-container {
    width: 50%;
    height: 100%;
  }

  canvas {
    position: absolute;
  }
}

/**************
 * ULTRA-WIDE *
 **************/
@media screen and (min-width: 1280px) {
  body {
    max-width: 1280px;
    margin: 0 auto;
  }
}
