@import '../node_modules/normalize.css/normalize.css';

@font-face {
  font-family: 'MyFont';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/regular.woff') format('woff');
}

@font-face {
  font-family: 'MyFont';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/bold.woff') format('woff');
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'MyFont', 'Courier New', Courier, monospace;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;

  /* Be specific, dark mode is coming */
  background-color: #fff;
  color: #000;
}

a {
  color: inherit;
  padding: 0.15em 0.25em;
}

a:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

main {
  background: rgba(255, 255, 255, 0.9);
  padding-bottom: 0.5em;
  position: absolute;
  width: 100%;
}

.javascript-enabled main {
  max-height: 2.3em;
  overflow: hidden;
  transition: max-height 0.25s ease-in;
}

main[data-line-count='1'] {
  max-height: 2.3em;
}

main[data-line-count='2'] {
  max-height: 3.4em;
}

main[data-line-count='3'] {
  max-height: 4.5em;
}

main.opened {
  max-height: 100% !important;
}

#heading-text {
  margin: 0.6em;
  display: inline-block;
}

/* If js enabled, there is about button, so add a margin */
.javascript-enabled #heading-text {
  margin: 0.6em 3em 0.6em 0.6em;
}

#about-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75em;
  text-decoration: underline;
  cursor: pointer;
}

#about-button:hover {
  text-decoration: none;
}

#about-text {
  margin: 0.8em;
  max-width: 25em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0.7em;
}

li {
  display: inline-block;
  margin: 0 0.75em;
}

li:first-child {
  margin-left: 0;
}

li:last-child {
  margin-right: 0;
}

.cursor-pointer {
  cursor: pointer;
}

#bottom-text {
  position: absolute;
  padding: 1em 0;
  bottom: 0;
  left: 2em;
  right: 2em;
  color: rgba(0, 0, 0, 0.25);
  text-align: center;
}

#file-input {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#bottom-text.show-file-input #file-input {
  display: block;
}

#bottom-text.show-file-input:hover span {
  text-decoration: underline;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  html, body {
    background: #181a1b;
    color: #E8E6E3;
  }

  a:hover {
    background: #E8E6E3;
    color: #181a1b;
  }

  main {
    background-color: rgba(24, 26, 27, 0.9);
  }

  #bottom-text {
    color: rgba(232, 230, 227, 0.25);
  }
}
